.vertical-timeline {
  padding: 0;
  margin-top: 24px;
}

.vertical-timeline.vertical-timeline--two-columns:before {
  width: calc(var(--spacing) * 2.5);
  border-radius: calc(var(--spacing) * 2);
  left: 49.7%;
}

.vertical-timeline-element {
  .vertical-timeline-element-content {
    box-shadow: none;
    background: transparent;
    padding: 0;
  }

  .vertical-timeline-element-content-arrow {
    display: none;
  }

  .vertical-timeline-element-icon {
    width: calc(var(--spacing) * 4);
    height: calc(var(--spacing) * 4);
    margin-left: -8px;
    background: white;
  }

  .card {
    width: 100%;
    border-radius: var(--radius-xl);
    padding: var(--spacing-l);
    cursor: pointer;
  }

  .image-wrapper {
    display: grid;
    grid-template-areas:
      "image0 image0 image1 image2"
      "image0 image0 text1 text1"
      "image0 image0 text1 text1";
    gap: var(--spacing-m);
  }

  .text-wrapper {
    grid-area: text1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--color-gray-600);
    padding: var(--spacing-m);
  }

  .text-1 {
    font-size: var(--text-2xl);
    font-weight: bold;
  }

  .date-style {
    line-height: 1.4;
    margin-top: -4px;
    opacity: 1;
  }

  .title {
    margin: 0;
    line-height: 1.4;
  }

  .content {
    margin-top: 8px;
    font-size: var(--text-sm);
    line-height: 140%;
    color: rgba(255, 255, 255, 0.7);
    opacity: 3;
  }

  .button {
    cursor: pointer;
  }
}

@media only screen and (width >= 1170px) {
  .vertical-timeline--two-columns
    .vertical-timeline-element-content
    .vertical-timeline-element-date {
    padding: 0;
    top: 0;
    font-size: var(--text-base);
    line-height: 1.4;
  }
}

@media only screen and (width < 1170px) {
  .vertical-timeline.vertical-timeline--two-columns:before {
    left: calc(var(--spacing) * 3.6);
  }

  .vertical-timeline-element {
    .vertical-timeline-element-icon {
      margin-left: calc(var(--spacing) * 3);
    }

    .date-style {
      margin-top: 0;
      margin-bottom: calc(var(--spacing) * 3);
      font-size: var(--text-lg);
      line-height: 1;
    }

    .vertical-timeline-element-date {
      display: none;
    }
  }
}
