.header {
  display: flex;
  width: 100%;
  padding: var(--spacing-xl);
}

.logo {
  flex: 1.5;
}

.navigation {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.button {
  padding: var(--spacing-s) var(--spacing-xl);
  background-color: var(--black);
  color: var(--white);
  border-radius: var(--spacing-s);
  border: none;
  cursor: pointer;
  font-size: var(--font-s);
}
